/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  section#gallery .container .row .col-xs-12 {
    display: none;

  }
  h1 {
    @include heading(30, 300);
    text-shadow: $text-shadow;
  }

  h2 {
    @include heading(28, 700);
    text-shadow: $text-shadow;
  }

  h3 {
    @include heading(20, 700);
  }

  h4 {

  }

  h5 {
    @include heading(14, 700);
    text-shadow: $text-shadow;
  }

  h6 {
    @include heading(10, 700);
  }
  section#footer .container div .btn {
    padding: 0;
  }
  a {
    &.btn {
      @include border-radius(8px);
      background-color: $gold;
      font-size: em(14, $font-size);
      text-transform: uppercase;
      color: $blue;
      line-height: 40px;
      padding: 0 15px;
      letter-spacing: 0.15em;
      text-shadow: $text-shadow;

      &:hover {
        background-color: $goldLight;
      }
    }
  }

  .logo {
    width: 80px;
    margin-top: 20px;
  }
  #overAllFooter {
    display: none;
  }
  #overAllTop {
    position: absolute;
  }
  section {
    &#home {
      overflow: hidden;
    }

    &#bombka-static {
      display: none;
    }

    &#this-is-small-gift {
      height: 100%;

      .container {
        height: 100%;

        #mobile-hand {
          @include position(absolute, 0 0 0 0);
          margin: auto -15px;
          display: block;
          width: 75%;


        }

        footer {
          @include position(absolute);

          &#this-small-gift-txt {
            h2 {
              opacity: 1;
            }
          }
        }
      }
    }

    &#is-a-token {
      height: 100%;
      overflow: hidden;


      .container {

        footer {
          &#footer-token {
            @include position(absolute);
            top: auto;
            bottom: 5%;

            h2 {
              opacity: 1;
            }
          }
        }
      }
    }

    &#wish {
      @include position(relative);
      height: 100%;
      background-color: $w;
      z-index: 2;

      .container {
        height: 100%;

        &.absolute0000 {
          @include position(absolute, 0 0 null 0);
          height: 90%;
          overflow: hidden;

          .image-animate {

            &#wish-bombka-01 {
              @include position(absolute, -60px null null 15%);
            }

            &#wish-bombka-02 {
              @include position(absolute, -60px null null 80%);
            }

            &#wish-line {
              opacity: 1;
            }

            &#wish-gifts {
              z-index: 1;
              bottom: 0;
            }
          }
        }

        .centered {
          opacity: 1;
          @include position(relative);
          @include transition(all 500ms ease);
          @include transform(translate3d(0, 0px, 0));
        }
      }
    }
    &#wish .container .centered h5 {
      padding-top: 5px;
    }

    &#hang-this-ornament {

      #ribon {
        opacity: 1;
        top: -218px;
      }

      #gift-bombka4 {
        @include position(absolute, 95px 0 null 0);
        width: 171px;
        height: 142px;
        margin: auto;
        z-index: 0;
        opacity: 1;
      }

      .container {


        footer {
          //top: auto;
          bottom: 5%;

          &#hang-this-ornament-footer {
            opacity: 1;
          }


          .btn {
            margin-top: 10px;
            font-size: em(10, $font-size);

            &#hang-this-ornament-button {
              opacity: 1;
            }
          }
        }
      }
    }

    #gift-container {

      .container {
        @include position(absolute, 0 0 0 0);
        margin: auto;
        width: 100%;
        height: 100%;

        #gift-token {
          @include position(absolute, 0 0 0 0);
          width: 100%;
          height: 100%;

          #gift-bombka-token {
            @include position(absolute, 0 0 0 0);
            z-index: 0;
            margin: auto;
            width: 200px;
            height: 232px;
          }
        }
      }
    }

    /*&#bombka-static {

      #git-and-hand {
        @include position(absolute, 0 0 0 -200%);
        width: 100%;
        height: 100%;

        &.hang {
          .container {
            @include position(absolute, 95px 0 auto 0);
          }
        }

        .container {
          width: 100%;
          height: 219px;

          #hand {
            @include position(absolute, null 91px -72px null);
            height: 84px;
          }

          #gift {
            width: 327px;
            height: 242px;

            #gift-bombka {
              width: 120px;
              height: 232px;
            }

            #gift-przykrywka {
              width: 200px;
            }
            #gift-body {
              width: 188px;
            }
          }
        }
      }
    }
*/




    &#choose-wishes {
      .container {
        .row {
          &.text-center {
            .col-md-6 {
              width: 100%;
              font-size: em(11, $font-size);
            }
          }
          .custom-container {
            .info {
              @include position(relative, 0 0 0 0);
              text-align: center;
            }
          }
        }
      }
    }

    &#pick-one-ornament {
      .container {
        .row {
          .col-md-2 {
            width: 50%;

            input[type=radio]+label {
              //padding: 23px 37px;
              padding: 21px 15px;

              img {
                max-height: 130px;
              }
            }
          }
        }
      }
    }
    &#choose-wrapping-paper {
      .col-md-4 {
        margin-bottom: 40px;
      }
    }

    &#define-recipients {
      .container {
        .row {
          .col-md-8 {
            .form-group {
              @include transition(all 1s ease);
              height: auto;
              margin: 0;
              padding: 0 5% 0 0;
              width: 100%;
              line-height: 60px;
              list-style: none;
              /*box-sizing:border-box;*/
              overflow: hidden;

              .btn {
                &.remove-btn {
                  @include position(absolute, 0 0 0 null);
                  @include transition(opacity 200ms ease-in-out);
                  @include box-shadow(none);
                  height: 40px;
                  width: 10px;
                  margin: 10px 0;
                  background: none;
                  opacity: 0;
                  font-weight: 700;
                  color: $w;
                  opacity: 0.8;
                  font-size: 0;

                  img {
                    width: 12px;
                    height: 12px;
                    margin-right: 12px;
                    margin-top: 30px;
                  }
                }
              }
            }
          }
        }
      }
    }
    &#footer {
      .container {
        div {
          .btn {
            width: 80%;
            font-size: em(18, $font-size);
          }
        }
      }
    }

    &#drag-and-drop .container .row .col-xs-6 .bombka {
      /*width: 281px;
      height: 392px;*/
      width: 121px;
      height: 172px;
    }

    &#drag-and-drop .container .row .col-xs-6 .arrow-right {
      display: none;
    }
  }

  .form-group {
    .control-label {
      position: relative;
      top: 0;
      right: 0%;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      z-index: 0;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      background-color: #F05753;
      color: #fff;
    }
  }

  section#hang-this-ornament .container footer {
    top: 50%;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /*section#footer .container div .btn {
    padding: 0 70px;
  }
  section #gift-container .container #gift-token #gift-bombka-token {
    width: 261px;
    height: 342px;
  }

  section#hang-this-ornament #gift-bombka4 {
    width: 261px;
    height: 342px;
  }
  section {
    &#drag-and-drop .container .row .col-xs-6 .bombka {
      width: 281px;
      height: 392px;
    }

    &#drag-and-drop .container .row .col-xs-6 .arrow-right {
      display: block;
      width: 46px;
    }
  }*/
}

@media only screen and (min-width: 1025px) {


  #overAllFooter {
    display: block;
  }

  #overAllTop {
    position: fixed;
  }

  section {
    &#home {
      overflow: visible;
    }

    &#wish .container .centered h5 {
      padding-top: 65px;
    }

    &#bombka-static {
      display: block;
    }

    &#bombka-static {
      @include position(fixed, 0 0 0 0);
      z-index: 1;

      #git-and-hand {
        @include position(absolute, 0 0 0 -100%);
        width: 100%;
        height: 100%;

        &.hang {
          .container {
            @include position(absolute, 0px 0 none 0);

            #gift {
              display: none;

            }
          }
        }

        .container {
          @include position(absolute, 0 0 0 0);
          margin: auto;
          width: 417px;
          height: 382px;

          #hand {
            @include position(absolute, null 91px 10px null);
            height: 104px;
            z-index: 2;
          }

          #gift {
            @include position(absolute, 0 0 0 0);
            width: 417px;
            height: 308px;
            text-align: center;

            #gift-bombka {
              @include position(absolute, null 0 0 0);
              z-index: 0;
              margin: auto;
              width: 150px;
              height: 282px;
            }

            #gift-przykrywka {
              @include position(relative, 0 null null null);
              z-index: 1;
              width: 267px;
            }
            #gift-body {
              @include position(relative);
              z-index: 1;
              width: 255px;
            }
          }
        }
      }
    }

    &#choose-wishes {
      .container {
        .row {
          &.text-center {
            .col-md-6 {
              width: 46%;
              font-size: em(14, $font-size);
            }
          }
          .custom-container {
            .info {
              @include position(absolute, 0 auto 0 100%);
              text-align: left;
              position: absolute;
              width: 30%;
              margin: auto;
              height: 2.8em;
            }
          }
        }
      }
    }

    &#pick-one-ornament {
      .container {
        .row {
          .col-md-2 {
            width: 16.66666667%;

            label {
              padding: 25px 15px;

              img {
                max-height: 180px;
              }
            }
          }
        }
      }
    }
    &#choose-wrapping-paper {
      .col-md-4 {
        margin-bottom: 0px;
      }
    }
    #gift-container {
      display: none;
    }
    &#define-recipients {
      .container {
        .row {
          .col-md-8 {

            .form-group {
              @include transition(all 1s ease);
              height: 60px;
              margin: 0;
              padding: 0 11% 0 0;
              width: 111%;
              line-height: 60px;
              list-style: none;
              /*box-sizing:border-box;*/
              overflow: hidden;

              .btn {
                &.remove-btn {
                  @include position(absolute, 0 0 0 null);
                  @include transition(opacity 200ms ease-in-out);
                  @include box-shadow(none);
                  height: 40px;
                  width: 90px;
                  margin: 10px 0;
                  background: none;
                  opacity: 0;
                  font-weight: 700;
                  font-size: em(14, $font-size);
                  color: $red;

                  img {
                    width: 12px;
                    height: 12px;
                    margin-right: 12px;
                    margin-top: -2px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &#footer {
      .container {
        div {
          .btn {
            width: auto;
            padding: 0 40px;
            font-size: em(24, $font-size);
          }
        }
      }
    }
    &#this-is-small-gift {
      @include position(relative);
      background-color: #002856;
      color: $w;
      height: 400%;

      .container {
        @include position(relative);
        height: 100%;
        text-align: center;

        #wieniec {
          width: 88%;
          display: inline-block;
          margin: 12% * 0.5 auto;
          opacity: 0;
          @include transition(opacity 200ms ease);

          &.visible {
            opacity: 1;
          }
        }

        footer {
          @include position(fixed);

          &#this-small-gift-txt {
            h2 {
              @include transition(opacity 200ms ease);
              opacity: 0;
            }

            &.in {
              h2 {
                opacity: 1;
              }
            }
          }
        }
      }


    }

    &#is-a-token {
      @include position(relative);
      height: 200%;
      background-color: #D1AC50;
      overflow: hidden;

      .background {
        display: none;
        @include position(absolute, 0 0 0 -100%);
        /*@include animation-duration(150s);
        @include animation-timing-function(linear);
        @include animation-iteration-count(infinite);*/
        height: 100%;
        width: 200%;
        background-image: url("../images/bottles_pat.svg");
        background-size: 380px auto;
        background-position: left top;
        z-index: 0;

        &.animate {
          //@include animation-name(bottlesAnimation);
        }
      }

      .container {
        @include position(relative);
        height: 100%;
        z-index: 0;

        footer {
          &#footer-token {
            @include position(fixed, 85% 0 null 0);

            h2 {
              @include transition(all 500ms ease);
              opacity: 0;
              color: $w;
            }

            &.in {
              h2 {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    &#wish {
      @include position(relative);
      height: 100%;
      background-color: $w;
      z-index: 2;

      .container {
        height: 100%;

        &.absolute0000 {
          @include position(absolute, 0 0 null 0);
          height: 90%;
          overflow: hidden;

          .image-animate {

            &#wish-bombka-01 {
              @include position(absolute, -139px null null 15%);
              width: 41px;
              height: 139px;
            }

            &#wish-bombka-02 {
              @include position(absolute, -193px null null 80%);
              width: 41px;
              height: 193px;
            }

            &#wish-line {
              @include position(absolute, null null 0% 45%);
              @include transform(translate3d(-50%, 0, 0));
              width: 363px;
              height: 3px;
              z-index: 2;
              opacity: 0;
            }

            &#wish-gifts {
              @include position(absolute, null null -107px 50%);
              @include transform(translate3d(-50%, 0, 0));
              width: 221px;
              height: 107px;
              z-index: 0;
            }
          }
        }

        .centered {
          opacity: 0;
          @include position(relative);
          @include transition(all 500ms ease);
          @include transform(translate3d(0, -100px, 0));

          h3 {
            font-weight: 300;
          }
          h5 {
            font-weight: 300;
            color: #D1AC50;
            text-shadow: none;
            padding-top: 65px;
          }
        }
      }

      &.in {
        .container {
          .centered {
            @include transform(translate3d(0, 0px, 0));
            opacity: 1;
          }
        }
      }
    }

    &#hang-this-ornament {
      @include position(relative);
      height: 100%;
      width: 100% !important;
      overflow: hidden;
      background-color: #D1AC50;

      #ribon {
        @include position(absolute, -208px -9999px null -9999px);
        margin: auto;
        height: 340px;
        z-index: 1;
        opacity: 0;
        display: none;

      }

      #gift-bombka4 {
        @include position(absolute, 75px 0 null 0);
        width: 281px;
        height: 242px;
        margin: auto;
        z-index: 0;
        opacity: 0;
      }

      .container {
        overflow: hidden;
        height: 100%;

        footer {
          @include position(absolute, 65% 0 null 0);
          margin: auto;

          &#hang-this-ornament-footer {
            opacity: 0;
          }

          h2 {
            color: $w;
            font-weight: 300;
          }

          h5 {
            color: $b;
            font-weight: 300;
          }

          .btn {
            @include border-radius(8px);
            margin-top: 40px;
            height: 60px;
            line-height: 60px;
            padding: 0 70px;
            background-color: #002856;
            color: $w;
            text-transform: uppercase;
            font-size: em(24, $font-size);
            letter-spacing: 0.2em;
            text-shadow: $text-shadow;

            &#hang-this-ornament-button {
              opacity: 0;
            }
          }
        }
      }
    }
    &#drag-and-drop .container .row .col-xs-6 .bombka {
      width: 281px;
      height: 392px;
    }

    &#drag-and-drop .container .row .col-xs-6 .arrow-right {
      width: 76px;
    }
  }

  .form-group {
    .control-label {
      position: absolute;
      top: 0;
      right: 98%;
      left: auto;
      bottom: 0;
      width: 40%;
      text-align: left;
      z-index: 0;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      background-color: #F05753;
      color: #fff;
    }
  }

  section#hang-this-ornament .container footer {
    top: 65%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 1100px) {
  section#gallery .container .row .col-xs-12 {
    display: block;

  }
  section#hang-this-ornament #gift-bombka4 {
    display: none;
  }
  h1 {
    @include heading(60, 300);
    text-shadow: $text-shadow;
  }

  h2 {
    @include heading(40, 700);
    text-shadow: $text-shadow;
  }

  h3 {
    @include heading(30, 700);
  }

  h4 {

  }

  h5 {
    @include heading(20, 700);
    text-shadow: $text-shadow;
  }

  h6 {
    @include heading(12, 700);
  }

  a {
    &.btn {
      font-size: em(24, $font-size);
      padding: 0 45px;
      line-height: 60px;
    }
  }

  section {
    &#is-a-token {

      .background {
        display: block;
      }
    }
    &#bombka-static {
      @include position(fixed, 0 0 0 0);
      z-index: 1;

      #git-and-hand {
        @include position(absolute, 0 0 0 -100%);
        width: 100%;
        height: 100%;

        .container {
          top: -190px!important;
        }

        &.hang {
          .container {
            @include position(absolute, 170px 0 none 0);

            #gift {
              display: block;

            }
          }
        }

        .container {
          @include position(absolute, 0 0 0 0);
          margin: auto;
          width: 417px;
          height: 468px;

          #hand {
            @include position(absolute, null 91px -126px null);
            height: 164px;
            z-index: 2;
          }

          #gift {
            @include position(absolute, 0 0 0 0);
            width: 417px;
            height: 408px;
            text-align: center;

            #gift-bombka {
              @include position(absolute, null 0 0 0);
              z-index: 0;
              margin: auto;
              width: 280px;
              height: 392px;
            }

            #gift-przykrywka {
              @include position(relative, 0 null null null);
              z-index: 1;
              width: 417px;
            }
            #gift-body {
              @include position(relative);
              z-index: 1;
              width: 385px;
            }
          }
        }
      }
    }
    &#hang-this-ornament {
      @include position(relative);
      height: 100%;
      width: 100% !important;
      overflow: hidden;
      background-color: #D1AC50;

      #ribon {
        @include position(absolute, -208px -9999px null -9999px);
        margin: auto;
        height: 340px;
        z-index: 1;
        opacity: 0;
        display: block;
      }

      #gift-bombka4 {
        @include position(absolute, 195px 0 null 0);
        width: 281px;
        height: 392px;
        margin: auto;
        z-index: 0;
        opacity: 0;
      }

      .container {
        overflow: hidden;
        height: 100%;

        footer {
          @include position(absolute, 65% 0 null 0);
          margin: auto;

          &#hang-this-ornament-footer {
            opacity: 0;
          }

          h2 {
            color: $w;
            font-weight: 300;
          }

          h5 {
            color: $b;
            font-weight: 300;
          }

          .btn {
            @include border-radius(8px);
            margin-top: 40px;
            height: 60px;
            line-height: 60px;
            padding: 0 70px;
            background-color: #002856;
            color: $w;
            text-transform: uppercase;
            font-size: em(24, $font-size);
            letter-spacing: 0.2em;
            text-shadow: $text-shadow;

            &#hang-this-ornament-button {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .logo {
    width: 128px;
    margin-top: 90px;
  }
  section {
    &#pick-one-ornament {
      .container {
        .row {
          .col-md-2 {
            width: 16.66666667%;

            label {
              padding: 23px 37px;

              img {
                max-height: 180px;
              }
            }
          }
        }
      }
    }
  }

}


@media only screen and (min-width: 1400px) {
  section#gallery .container .row .col-xs-12 {
    display: block;

  }
  h1 {
    @include heading(60, 300);
    text-shadow: $text-shadow;
  }

  h2 {
    @include heading(40, 700);
    text-shadow: $text-shadow;
  }

  h3 {
    @include heading(30, 700);
  }

  h4 {

  }

  h5 {
    @include heading(20, 700);
    text-shadow: $text-shadow;
  }

  h6 {
    @include heading(12, 700);
  }

  a {
    &.btn {
      font-size: em(24, $font-size);
      padding: 0 45px;
      line-height: 60px;
    }
  }

  section {
    &#is-a-token {

      .background {
        display: block;
      }
    }
    &#bombka-static {
      @include position(fixed, 0 0 0 0);
      z-index: 1;

      #git-and-hand {
        @include position(absolute, 0 0 0 -100%);
        width: 100%;
        height: 100%;
        .container {
          top: 0px!important;
        }
        &.hang {
          .container {
            @include position(absolute, 95px 0 none 0);

            #gift {
              @include position(absolute, 0 0 0 0);
              width: 417px;
              //height: 486px;
              height: 348px;
              text-align: center;
            }
          }
        }

        .container {
          @include position(absolute, 0 0 0 0);
          margin: auto;
          width: 417px;
          height: 468px;

          #hand {
            @include position(absolute, null 91px -126px null);
            height: 164px;
            z-index: 2;
          }

          #gift {
            @include position(absolute, 0 0 0 0);
            width: 417px;
            height: 486px;
            //height: 348px;
            text-align: center;

            #gift-bombka {
              @include position(absolute, null 0 0 0);
              z-index: 0;
              margin: auto;
              width: 280px;
              height: 392px;
            }

            #gift-przykrywka {
              @include position(relative, 0 null null null);
              z-index: 1;
              width: 417px;
            }
            #gift-body {
              @include position(relative);
              z-index: 1;
              width: 385px;
            }
          }
        }
      }
    }
    &#hang-this-ornament {
      @include position(relative);
      height: 100%;
      width: 100% !important;
      overflow: hidden;
      background-color: #D1AC50;

      #ribon {
        @include position(absolute, -118px -9999px null -9999px);
        margin: auto;
        height: 340px;
        z-index: 1;
        opacity: 0;
      }

      #gift-bombka4 {
        @include position(absolute, 195px 0 null 0);
        width: 281px;
        height: 392px;
        margin: auto;
        z-index: 0;
        opacity: 0;
      }

      .container {
        overflow: hidden;
        height: 100%;

        footer {
          @include position(absolute, 65% 0 null 0);
          margin: auto;

          &#hang-this-ornament-footer {
            opacity: 0;
          }

          h2 {
            color: $w;
            font-weight: 300;
          }

          h5 {
            color: $b;
            font-weight: 300;
          }

          .btn {
            @include border-radius(8px);
            margin-top: 40px;
            height: 60px;
            line-height: 60px;
            padding: 0 70px;
            background-color: #002856;
            color: $w;
            text-transform: uppercase;
            font-size: em(24, $font-size);
            letter-spacing: 0.2em;
            text-shadow: $text-shadow;

            &#hang-this-ornament-button {
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-height: 750px) and (min-width: 1100px) {
  .logo{
    margin-top: 10px;
  }
}
