<section id="home">
  <div class="stars">
    <!--<img src="images/gwiazka-01.svg" alt="+" class="star star-01" id="star-01-01">-->

    <img src="images/gwiazka-02.svg" alt="+" class="star star-02" id="star-02-01">
    <img src="images/gwiazka-02.svg" alt="+" class="star star-02" id="star-02-02">
    <img src="images/gwiazka-02.svg" alt="+" class="star star-02" id="star-02-03">
    <img src="images/gwiazka-02.svg" alt="+" class="star star-02" id="star-02-04">
    <img src="images/gwiazka-02.svg" alt="+" class="star star-02" id="star-02-05">

    <!--<img src="images/gwiazka-03.svg" alt="+" class="star star-03" id="star-03-01">

    <img src="images/gwiazka-04.svg" alt="+" class="star star-04" id="star-04-01">

    <img src="images/gwiazka-05.svg" alt="+" class="star star-05" id="star-05-01">-->
  </div>


  <div class="container container-centered text-center">
    <header>
      <img src="images/wyborowa-logo.svg" alt="Wyborowa" class="logo">

    </header>
    <div class="centered">
      <h1>Wyślij<br>
        kartkę świąteczną<br>
        do swoich partnerów<br>biznesowych</h1>

      <a href="#" class="btn" ng-click="letsSendSomeCards($event)">Wyślij świąteczne kartki!</a>
      <h5><a href="#/en">To send wishes in English, click here.</a></h5>

    </div>
  </div>
</section>

<section id="choose-wishes">
  <div class="container">
    <header class="text-center">
      <h2>Wybierz życzenia</h2>
      <h5>MOŻESZ WYBRAĆ JEDNE Z PONIŻSZYCH ŻYCZEŃ ALBO NAPISAĆ SWOJE</h5>
    </header>
    <div class="validation" ng-class="errors.wishes ? 'has-error' : ''">
      <div class="error">
        Wybierz życzenia
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <input type="radio" id="c11" name="q1" ng-model="questions.q1.radio" value="1"/>
        <label for="c11">Niech czas Świąt wypełni radość i rodzinne ciepło, a Nowy Rok przyniesie pomyślność i spełnienie marzeń.
        </label>
      </div>
      <div class="col-md-6">
        <input type="radio" id="c12" name="q1" ng-model="questions.q1.radio" value="2"/>
        <label for="c12">Niech Święta będą pełne blasku i radosnych chwil, a Nowy Rok dostarczy wielu powodów do dumy.
        </label>
      </div>

      <div class="col-md-6">
        <input type="radio" id="c13" name="q1" ng-model="questions.q1.radio" value="3"/>
        <label for="c13">Radosnych Świąt, pełnych pięknych chwil, oraz dobrego Nowego Roku, pod znakiem sukcesów i spełnionych marzeń.
        </label>
      </div>

      <div class="col-md-6">
        <input type="radio" id="c14" name="q1" ng-model="questions.q1.radio" value="4"/>
        <label for="c14">Niech świąteczna atmosfera przyniesie Wam radość, a Nowy Rok obfituje w zrealizowane marzenia.
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 custom-container">
        <textarea name="customWishes" id="customWishes" placeholder="Napisz swoje własne życzenia" cols="30"
                  rows="5" ng-model="questions.q1.custom.text"
                  ng-class="questions.q1.custom.active == true ? 'active' : ''"></textarea>

        <div class="info">
          <h5>{{160 - questions.q1.custom.characters}}</h5>
          <h6>znaków pozostało</h6>
        </div>
      </div>
    </div>
    <footer class="text-center col-md-6 col-md-offset-3">
      <h5>Podpisz kartkę, którą wysyłasz</h5>

      <div class="form-group" ng-class="errors.fullName ? 'has-error' : ''">
        <label class="control-label" for="full-name">Podpisz się</label>
        <input type="text" placeholder="Imię i nazwisko" id="full-name" ng-model="sender.fullName">
      </div>
    </footer>
  </div>
</section>
<section id="pick-one-ornament">
  <div class="container">
    <header class="text-center">
      <h2>Wybierz jedną bombkę</h2>
      <h5>TA BOMBKA BĘDZIE PREZENTEM DLA TWOJEGO PARTNERA BIZNESOWEGO</h5>
    </header>
    <div class="validation" ng-class="errors.ornament ? 'has-error' : ''">
      <div class="error">
        Wybierz bombkę
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" ng-repeat="bombka in bombki">
        <input type="radio" id="c2-{{bombka.id}}" name="q2" ng-model="questions.q2.radio" value="{{bombka.id}}"/>
        <label for="c2-{{bombka.id}}">
          <img src="images/bombki/{{bombka.image}}" alt="{{bombka.name}}">

          <div class="opis">
            {{bombka.name}}
          </div>
        </label>
      </div>
    </div>
  </div>
</section>
<section id="choose-wrapping-paper">
  <div class="container">
    <header class="text-center">
      <h2>Wybierz papier</h2>
      <h5>WYKORZYSTAMY GO DO ZAPAKOWANIA BOMBKI</h5>
    </header>
    <div class="validation" ng-class="errors.paper ? 'has-error' : ''">
      <div class="error">
        Wybierz papier
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-4">
          <input type="radio" id="c31" name="q3" ng-model="questions.q3.radio" value="1"/>
          <label for="c31">
            <img src="images/paper-01.svg" alt="Papier">
          </label>
        </div>
        <div class="col-md-4">
          <input type="radio" id="c32" name="q3" ng-model="questions.q3.radio" value="2"/>
          <label for="c32">
            <img src="images/paper-02.svg" alt="Papier">
          </label>
        </div>
        <div class="col-md-4">
          <input type="radio" id="c33" name="q3" ng-model="questions.q3.radio" value="3"/>
          <label for="c33">
            <img src="images/paper-03.svg" alt="Papier">
          </label>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="define-recipients">
  <div class="container">
    <header class="text-center">
      <h2>Zdefiniuj odbiorców</h2>
      <h5>WPISZ IMIĘ I NAZWISKO ORAZ ADRES EMAIL</h5>
    </header>
    <div class="validation" ng-class="errors.recipients ? 'has-error' : ''">
      <div class="error">
        Podaj przynajmniej jednego odbiorcę i jego adres e-mail
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="form-group animate-repeat" ng-repeat="recipient in recipients" name="recipientsForm">
          <button class="btn remove-btn" ng-click="removeAnotherPerson($index)" ng-show="recipients.length > 1"><img
            src="images/remove.svg" alt="x">usuń</button>
          <div class="col-md-6">
            <input type="text" id="recipient-full-name-{{recipient.id}}" name="recipient-full-name-{{recipient.id}}"
                   placeholder="Imię i nazwisko" ng-model="recipient.fullName" ng-class="recipient.fullNameError ? 'has-error' : ''">
          </div>
          <div class="col-md-6 person">
            <input type="email" id="recipient-email-{{recipient.id}}" name="recipient-email-{{recipient.id}}"
                   placeholder="Email" ng-model="recipient.email" ng-class="recipient.emailError ? 'has-error' : ''">
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn-dotted text-center" ng-click="addAnotherPerson()"><img src="images/plus.svg" alt="+"
                                                                                    class="plus">Add another person
          </button>
        </div>
        <div class="col-md-12 preview text-center">
          <button class="btn text-center" ng-click="previewCard($event)">podgląd kartki</button>
          <h5>Możesz podejrzeć kartkę zanim ją wyślesz.</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="container text-center info">
    <div ng-hide="sendStatus != 'none'" class="none">
      <h3>Wysyłamy {{recipients.length}} {{cards}}</h3>
      <button href="#" class="btn" ng-click="sendCards($event)">wyślij kartki</button>
    </div>
    <div ng-show="sendStatus == 'success'" class="success">
      <h3>Kartki zostały wysłane pomyślnie!</h3>
      <button class="btn" ng-click="sendMoreCards($event)">zacznij od nowa</button>
    </div>
    <div ng-show="sendStatus == 'error'" class="error">
      <h3>Coś poszło nie tak, sprawdź błędy</h3>
      <button class="btn" ng-click="sendCards($event)">wyślij ponownie</button>
    </div>
  </div>

  <footer class="text-center">

    <div class="col-md-6">

    </div>
    <div class="col-md-6">
      <a href="http://www.plej.pl/">Made by Plej <img src="images/plej.svg" alt="Plej"></a>
    </div>
  </footer>
</section>
