<section id="home">
  <div class="stars">
    <img src="images/gwiazka-01.svg" alt="+" class="star star-01" id="star-01-01">

    <img src="images/gwiazka-02.svg" alt="+" class="star star-02" id="star-02-01">
    <img src="images/gwiazka-02.svg" alt="+" class="star star-02" id="star-02-02">
    <img src="images/gwiazka-02.svg" alt="+" class="star star-02" id="star-02-03">
    <img src="images/gwiazka-02.svg" alt="+" class="star star-02" id="star-02-04">
    <img src="images/gwiazka-02.svg" alt="+" class="star star-02" id="star-02-05">

    <img src="images/gwiazka-03.svg" alt="+" class="star star-03" id="star-03-01">

    <img src="images/gwiazka-04.svg" alt="+" class="star star-04" id="star-04-01">

    <img src="images/gwiazka-05.svg" alt="+" class="star star-05" id="star-05-01">
  </div>


  <div class="container container-centered text-center">
    <header>
      <img src="images/wyborowa-logo.svg" alt="Wyborowa" class="logo">

    </header>
    <div class="centered">
      <h1>Send<br>
        Christmas card<br>
        to Your clients</h1>
      <h5>Just follow few easy steps</h5>
      <a href="#" class="btn" ng-click="letsSendSomeCards($event)">let’s send some cards!</a>
      <p><a href="#/pl">Jeżeli chcesz wysłać życzenia po Polsku,<br>
        kliknij tutaj.</a></p>
    </div>
  </div>
</section>

<section id="choose-wishes">
  <div class="container">
    <header class="text-center">
      <h2>Choose wishes</h2>
      <h5>YOU CAN PICK ONE OF OUR WISHES OR WRITE YOUR OWN</h5>
    </header>
    <div class="validation" ng-class="errors.wishes ? 'has-error' : ''">
      <div class="error">
        Your name is inYou have to select one of the ornaments
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-6">
        <input type="radio" id="c11" name="q1" ng-model="questions.q1.radio" value="1"/>
        <label for="c11">May this holiday season sparkle and shine, may all of your wishes and dreams come true, and may
          you feel this happiness all year round.
        </label>
      </div>
      <div class="col-md-6">
        <input type="radio" id="c12" name="q1" ng-model="questions.q1.radio" value="2"/>
        <label for="c12">During this time of faith and family, may the true meaning of Christmas fill you with joy.
          Wishing you a Merry Christmas and a blessed New Year.
        </label>
      </div>

      <div class="col-md-6">
        <input type="radio" id="c13" name="q1" ng-model="questions.q1.radio" value="3"/>
        <label for="c13">May the message of Christmas fill your life with joy and peace. Best wishes to you and your
          family during this holiday season.
        </label>
      </div>

      <div class="col-md-6">
        <input type="radio" id="c14" name="q1" ng-model="questions.q1.radio" value="4"/>
        <label for="c14">This time of year brings festivities and family fun. It is a time for reminiscing and looking
          forward. Wishing you wonderful memories during this joyous season.
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 custom-container">
        <textarea name="customWishes" id="customWishes" placeholder="Write your custom wishes" cols="30"
                  rows="5" ng-model="questions.q1.custom.text"
                  ng-class="questions.q1.custom.active == true ? 'active' : ''"
                  ng-click="questions.q1.custom.active = true; questions.q1.radio = ''"
                  ng-touch="questions.q1.custom.active = true; questions.q1.radio = ''"></textarea>

        <div class="info">
          <h5>{{160 - questions.q1.custom.characters}}</h5>
          <h6>caracters left</h6>
        </div>
      </div>
    </div>
    <footer class="text-center col-md-6 col-md-offset-3">
      <h5>Sign the card you’re sending</h5>

      <div class="form-group" ng-class="errors.fullName ? 'has-error' : ''">
        <label class="control-label" for="full-name">Your name is incorrect</label>
        <input type="text" placeholder="Full name" id="full-name" ng-model="sender.fullName">
      </div>
    </footer>
  </div>
</section>
<section id="pick-one-ornament">
  <div class="container">
    <header class="text-center">
      <h2>Pick one ornament</h2>
      <h5>THIS ORNAMENT WILL BE A GIFT FOR YOUR CLIENT</h5>
    </header>
    <div class="validation" ng-class="errors.ornament ? 'has-error' : ''">
      <div class="error">
        Your name is inYou have to select one of the ornaments
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <input type="radio" id="c201" name="q2" ng-model="questions.q2.radio" value="1"/>
        <label for="c201">
          <img src="images/bombka-wyborowa.svg" alt="Wyborowa">

          <div class="opis">
            Wyborowa
          </div>
        </label>
      </div>

      <div class="col-md-2">
        <input type="radio" id="c202" name="q2" ng-model="questions.q2.radio" value="2"/>
        <label for="c202">
          <img src="images/bombka-wyborowa.svg" alt="Wyborowa">

          <div class="opis">
            Wyborowa
          </div>
        </label>
      </div>

      <div class="col-md-2">
        <input type="radio" id="c203" name="q2" ng-model="questions.q2.radio" value="3"/>
        <label for="c203">
          <img src="images/bombka-wyborowa.svg" alt="Wyborowa">

          <div class="opis">
            Wyborowa
          </div>
        </label>
      </div>

      <div class="col-md-2">
        <input type="radio" id="c204" name="q2" ng-model="questions.q2.radio" value="4"/>
        <label for="c204">
          <img src="images/bombka-wyborowa.svg" alt="Wyborowa">

          <div class="opis">
            Wyborowa
          </div>
        </label>
      </div>

      <div class="col-md-2">
        <input type="radio" id="c205" name="q2" ng-model="questions.q2.radio" value="5"/>
        <label for="c205">
          <img src="images/bombka-wyborowa.svg" alt="Wyborowa">

          <div class="opis">
            Wyborowa
          </div>
        </label>
      </div>

      <div class="col-md-2">
        <input type="radio" id="c206" name="q2" ng-model="questions.q2.radio" value="6"/>
        <label for="c206">
          <img src="images/bombka-wyborowa.svg" alt="Wyborowa">

          <div class="opis">
            Wyborowa
          </div>
        </label>
      </div>

      <div class="col-md-2">
        <input type="radio" id="c207" name="q2" ng-model="questions.q2.radio" value="7"/>
        <label for="c207">
          <img src="images/bombka-wyborowa.svg" alt="Wyborowa">

          <div class="opis">
            Wyborowa
          </div>
        </label>
      </div>

      <div class="col-md-2">
        <input type="radio" id="c208" name="q2" ng-model="questions.q2.radio" value="8"/>
        <label for="c208">
          <img src="images/bombka-wyborowa.svg" alt="Wyborowa">

          <div class="opis">
            Wyborowa
          </div>
        </label>
      </div>

      <div class="col-md-2">
        <input type="radio" id="c209" name="q2" ng-model="questions.q2.radio" value="9"/>
        <label for="c209">
          <img src="images/bombka-wyborowa.svg" alt="Wyborowa">

          <div class="opis">
            Wyborowa
          </div>
        </label>
      </div>

      <div class="col-md-2">
        <input type="radio" id="c210" name="q2" ng-model="questions.q2.radio" value="10"/>
        <label for="c210">
          <img src="images/bombka-wyborowa.svg" alt="Wyborowa">

          <div class="opis">
            Wyborowa
          </div>
        </label>
      </div>

      <div class="col-md-2">
        <input type="radio" id="c211" name="q2" ng-model="questions.q2.radio" value="11"/>
        <label for="c211">
          <img src="images/bombka-wyborowa.svg" alt="Wyborowa">

          <div class="opis">
            Wyborowa
          </div>
        </label>
      </div>
    </div>
  </div>
</section>
<section id="choose-wrapping-paper">
  <div class="container">
    <header class="text-center">
      <h2>Choose wrapping paper</h2>
      <h5>WE WILL USE IT TO WRAP YOUR ORNAMENT</h5>
    </header>
    <div class="validation" ng-class="errors.paper ? 'has-error' : ''">
      <div class="error">
        Your name is inYou have to select one of the ornaments
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-4">
          <input type="radio" id="c31" name="q3" ng-model="questions.q3.radio" value="1"/>
          <label for="c31">
            <img src="images/paper-01.svg" alt="Papier">
          </label>
        </div>
        <div class="col-md-4">
          <input type="radio" id="c32" name="q3" ng-model="questions.q3.radio" value="2"/>
          <label for="c32">
            <img src="images/paper-02.svg" alt="Papier">
          </label>
        </div>
        <div class="col-md-4">
          <input type="radio" id="c33" name="q3" ng-model="questions.q3.radio" value="3"/>
          <label for="c33">
            <img src="images/paper-03.svg" alt="Papier">
          </label>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="define-recipients">
  <div class="container">
    <header class="text-center">
      <h2>Define recipients</h2>
      <h5>SIMPLY WRITE FULL NAME AND EMAIL ADRESS</h5>
    </header>
    <div class="validation" ng-class="errors.recipients ? 'has-error' : ''">
      <div class="error">
        Your name is inYou have to select one of the ornaments
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">

        <div class="form-group animate-repeat" ng-repeat="recipient in recipients" name="recipientsForm">
          <button class="btn remove-btn" ng-click="removeAnotherPerson($index)" ng-show="recipients.length > 1"><img
            src="images/remove.svg" alt="x">remove</button>
          <div class="col-md-6">
            <input type="text" id="recipient-full-name-{{recipient.id}}" name="recipient-full-name-{{recipient.id}}"
                   placeholder="Full name" ng-model="recipient.fullName" ng-class="recipient.fullNameError ? 'has-error' : ''">
          </div>
          <div class="col-md-6 person">
            <input type="email" id="recipient-email-{{recipient.id}}" name="recipient-email-{{recipient.id}}"
                   placeholder="Email" ng-model="recipient.email" ng-class="recipient.emailError ? 'has-error' : ''">
          </div>
        </div>
        <div class="col-md-12">
          <button class="btn-dotted text-center" ng-click="addAnotherPerson()"><img src="images/plus.svg" alt="+"
                                                                                    class="plus">Add another person
          </button>
        </div>
        <div class="col-md-12 preview text-center">
          <a href="#/zyczenia/preview" class="btn text-center">preview card</a>
          <h5>You can preview your card before sending it.</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="container text-center info">
    <div ng-hide="sendStatus != 'none'" class="none">
      <h3>You will be sending {{recipients.length}} {{cards}}</h3>
      <button href="#" class="btn" ng-click="sendCards($event)">send cards</button>
    </div>
    <div ng-show="sendStatus == 'success'" class="success">
      <h3>Your cards were sent successfuly!</h3>
      <button class="btn" ng-click="sendMoreCards($event)">send more cards</button>
    </div>
    <div ng-show="sendStatus == 'error'" class="error">
      <h3>Something went wrong, check form for errors</h3>
      <button class="btn" ng-click="sendCards($event)">send cards again</button>
    </div>
  </div>

  <footer class="text-center">
    <div class="container">
      Wyborowa Pernod Ricard 2015
    </div>
  </footer>
</section>
